__generated__
node_modules
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Build
/build

# Xcode and Android
/ios
/android

# Build files
*.ipa
*.apk
*.aab

